.header {
  display: flex;
  justify-content: space-between;
  padding: 15px 20px;
  background: linear-gradient(
    90deg,
    rgba(102, 204, 102, 0.25) 50%,
    rgba(0, 255, 0, 0.4) 100%
  );
  border-bottom: 1px dotted #66cc66;
  &:hover .logo-image::before {
    transform: scale(0.75);
  }
  &_logo {
    color: #66cc66;
    text-transform: uppercase;
    font-weight: 100;
  }
}

.logo-image {
  position: relative;
  margin-left: 60px;
  &::before {
    position: absolute;
    content: "";
    left: -54px;
    top: -6px;
    width: 48px;
    height: 48px;
    background-image: url(../../assets/svg/battleship.svg);
    background-repeat: no-repeat;
    background-size: contain;
    transition: ease-in-out 1s;
  }
}
