@import '../../scss/variables.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: linear-gradient(
    90deg,
    $background-color-100 0%,
    $primary-color-50 100%
  );
  border-bottom: 1px dotted $primary-color-100;
  z-index: 100;
  &_logo {
    position: relative;
    margin: 16px 0;
    padding: 6px 12px 4px;
    color: $text-color-100;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 4px;
    background: $logo-corner-gradient;
    background-repeat: no-repeat;
    background-size: 64px 12px;
    background-color: $primary-color-25;
    transform: rotate(-2deg);
    transition: ease-in-out 0.3s;
    &:hover {
      transform: scale(1.05);
    }
  }
  &_online {
    position: absolute;
    bottom: -20px;
    left: 0;
    font-size: 16px;
    color: $primary-color-100;
  }
  &_link {
    text-decoration: none;
  }
  &_burger {
    position: absolute;
    right: 40px;
    top: 44px;
    display: none;
    width: 30px;
    height: 20px;
    cursor: pointer;
    z-index: 200;
    &::before,
    &::after {
      content: '';
      position: absolute;
      width: 100%;
      height: 2px;
      left: 0;
      top: 0;
      background-color: $primary-color-100;
      transition: ease-in-out 0.3s;
    }
    &::after {
      top: 100%;
    }
    &.open {
      position: fixed;
      &::before {
        top: 50%;
        transform: rotate(405deg);
      }
      &::after {
        top: 50%;
        transform: rotate(-405deg);
      }
    }
  }
}

.logo-image {
  position: relative;
  margin-left: 60px;
  &::before {
    position: absolute;
    content: '';
    left: -57px;
    top: -8px;
    width: 52px;
    height: 52px;

    -webkit-mask-image: url(../../assets/svg/battleship.svg);
    mask-image: url(../../assets/svg/battleship.svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: contain;
    mask-size: contain;
    background-color: $text-color-100;
    transition: ease-in-out 1s;
    animation: logoAnimation 6s infinite;
  }
}

.burger-icon {
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  top: 50%;
  background-color: $primary-color-100;
  &.open {
    opacity: 0;
  }
}

@keyframes logoAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.85);
  }
  100% {
    transform: scale(1);
  }
}

.navigation_list {
  display: flex;
  list-style: none;
  padding: 0;
}

.navigation_item {
  position: relative;
  margin-left: 40px;
  font-size: 20px;
  color: $primary-color-100;
  border-radius: 4px;
  background: $primary-corner-gradient {
    repeat: no-repeat;
    size: 10px 8px;
    color: $primary-color-25;
  }
  cursor: pointer;
  transition: ease-in-out 0.3s;
  &:hover {
    color: $text-color-100;
    background-size: 100% 8px;
    background-color: $primary-color-50;
    transform: scale(1.2);
  }
  &.item-dropdown {
    &:hover .navigation_dropdown {
      display: block;
    }
  }
  @media (max-width: 1280px) {
    margin-left: 20px;
  }
}

.navigation_link {
  padding: 2px 10px;
  color: $primary-color-100;
  text-decoration: none;
  transition: ease-in-out 0.3s;
  &:hover,
  &.active {
    color: $text-color-100;
  }
}

.navigation_dropdown {
  position: absolute;
  left: 0;
  top: 15px;
  padding: 10px 0 0 0;
  border-left: 2px dashed $primary-color-100;
  list-style: none;
  display: none;
}

.dropdown-item {
  margin: 10px;
  white-space: nowrap;
  text-align: center;
  color: $primary-color-100;
  border-radius: 4px;
  background: $primary-corner-gradient {
    repeat: no-repeat;
    size: 10px 8px;
    color: $primary-color-25;
  }
  cursor: pointer;
  transition: ease-in-out 0.3s;
  &:hover {
    color: $text-color-100;
    background-size: 100% 8px;
    background-color: $primary-color-50;
  }
}

@media (max-width: 1040px) {
  .header {
    &_logo {
      transform: rotate(0deg);
    }
    &_burger {
      display: block;
    }
    &_navigation {
      display: none;
      position: fixed;
      left: 0;
      top: 0;
      width: 100vw;
      height: 100vh;
      background-color: $background-color-100;
      z-index: 100;
      &.visible {
        display: flex;
      }
    }
  }

  .navigation_list {
    flex-direction: column;
    margin: 100px auto;
  }

  .navigation_item {
    text-align: center;
    margin: 20px auto;
  }

  .navigation_dropdown {
    position: relative;
    top: 0;
    padding: 0;
    display: block;
    border: none;
  }
}

.link-login {
  position: absolute;
  bottom: -20px;
  left: 0;
  font-size: 16px;
  color: $text-color-100;
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

@media (max-width: 480px) {
  .header {
    padding: 6px 20px;
    &_logo {
      font-size: 20px;
    }
    &_burger {
      right: 24px;
      top: 30px;
      width: 24px;
      height: 16px;
    }
    &_online {
      position: absolute;
      bottom: -18px;
      left: 0;
      font-size: 12px;
    }
  }
  .logo-image {
    margin-left: 40px;
    &::before {
      left: -39px;
      top: -7px;
      width: 36px;
      height: 36px;
    }
  }
}
