@import '../../../scss/variables.scss';

.ship-station {
  display: flex;
  justify-content: space-between;
  width: 100%;
  min-height: 100px;

  &_container,
  &_discription {
    display: flex;
    justify-content: space-around;
    width: calc(50% - 20px);
    min-height: 168px;
  }
  &_discription {
    flex-direction: column;
    text-align: center;
  }
  &_button {
    width: 160px;
    height: 40px;
    margin: 0 auto;
    font-size: 20px;
    font-family: 'Russo One', sans-serif;
    font-weight: 100;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: $primaryColor-100;
    border: none;
    border-radius: 4px;
    background: $primaryCornerGradient;
    background-repeat: no-repeat;
    background-size: 25% 10px;
    background-color: $primaryColor-25;
    cursor: pointer;
    transition: ease-in-out 0.5s;
    &:hover {
      color: #fff;
      background-size: 100% 10px;
      background-color: $primaryColor-50;
      transform: scale(1.1);
    }
  }
}
