.ship {
  cursor: grab;
  display: flex;
  flex-direction: column;
  width: 30px;
  transition: all ease 0.2s;
}
.one-deck {
  height: 30px;
}
.two-deck {
  height: 60px;
}
.three-deck {
  height: 90px;
}
.four-deck {
  height: 120px;
}

.ship-1 {
  width: 30px;
  height: 30px;
  border: 1px solid black;
  background-color: aquamarine;
  opacity: 0.5;
}
.horizontal {
  flex-direction: row;
  width: 120px;
  height: 30px;
}
.red {
  background-color: red;
}
.green {
  background-color: green;
}
