@import '../../scss/variables.scss';

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &_fields {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
  }
}

.field {
  display: flex;
  flex-direction: column;
  width: calc(50% - 20px);
  padding: 10px 0 32px;
  border-radius: 4px;
  background: $primaryCornerGradient;
  background-repeat: no-repeat;
  background-size: 25% 15%;
  background-color: $primaryColor-25;
  &_name {
    width: 100%;
    margin: 0 auto 20px;
    border-bottom: 1px dashed $primaryColor-75;
    text-align: center;
    font-weight: 100;
  }
}

.shoot {
  margin: 1rem;
}

.button-render {
  padding: 10px 40px;
  margin: 0 auto 20px;
  text-decoration: none;
  font-size: 20px;
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: $primaryColor-100;
  border: none;
  border-radius: 4px;
  background: $primaryCornerGradient;
  background-repeat: no-repeat;
  background-size: 25% 10px;
  background-color: $primaryColor-25;
  cursor: pointer;
  transition: ease-in-out 0.5s;
  &:hover {
    color: #fff;
    background-size: 100% 10px;
    background-color: $primaryColor-50;
    transform: scale(1.1);
  }
  &:disabled {
    pointer-events: none;
    background-size: 0;
  }
}
