* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0 auto;
  background: url(./assets/svg/background.svg);
  background-color: black;
}

$green-100: rgb(102, 204, 102, 1);
$green-75: rgb(102, 204, 102, 0.75);
$green-50: rgb(102, 204, 102, 0.5);
$green-25: rgb(102, 204, 102, 0.25);
