* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: 'Russo One', sans-serif;
  font-weight: 100;
  letter-spacing: 1px;
  color: #fff;
}

body {
  margin: 0 auto;
  background: url(./assets/svg/background.svg);
  background-color: black;
  -webkit-user-select: none;
  user-select: none;
}

.main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 40px;
  @media (max-width: 480px) {
    padding: 20px;
  }
}
